*.md
test-*
.gitattributes
.claude/*
.claude-flow/*
.swarm/*
.hive-mind/*
composer.lock
composer.json
vendor/composer/*
vendor/phpunit/*
vendor/phpstan/*
vendor/phpcs/*
vendor/phpstan/*
vendor/wp-coding-standards/*
vendor/wp-cli/*
vendor/phpcsstandards/*
vendor/phpstan/*
vendor/squizlabs/*
vendor/dealerdirect/*
vendor/bin/*
vendor/autoload.php